version: "3.8"
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: queue_db
      MYSQL_USER: user
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    volumes:
        - ../backend:/var/www/html
    environment:
      - DB_HOST=db
      - DB_DATABASE=queue_db
      - DB_USERNAME=user
      - DB_PASSWORD=secret
      - BROADCAST_DRIVER=pusher
      - PUSHER_APP_KEY=your-pusher-key
      - PUSHER_APP_SECRET=your-secret
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend:/usr/src/app
    ports:
      - '3000:3000'
    environment:
      - REACT_APP_PUSHER_KEY=your-pusher-key
      - REACT_APP_PUSHER_HOST=backend
      - REACT_APP_PUSHER_PORT=6001

volumes:
  dbdata:
